h3 {
    color: rgb (103, 211, 125);
    
}
.seccion {
    font-family:'Segoe UI';
    padding: 20px;
    margin-top: 10%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

ul {
    line-height: 1.6;
    color: #666; 
    list-style: square;
}