<div class="seccion">
    <h3>Aspectos técnicos de Node</h3>
    <ul>
        <li>Motor V8 de Google Chrome: Node.js utiliza el motor V8 de Google Chrome para ejecutar código JavaScript de manera eficiente
        en el lado del servidor. V8 compila el código JavaScript a código nativo de máquina, optimizando su rendimiento.</li>
        
        <li>Modelo Asincrónico y Event Loop: Node.js se basa en un modelo asincrónico y no bloqueante, permitiendo la ejecución eficiente
        de operaciones de entrada/salida sin bloquear el hilo de ejecución principal. El Event Loop gestiona la ejecución de eventos
        y callbacks, facilitando la concurrencia.</li>
        
        <li>Módulos y NPM: Node.js utiliza un sistema de módulos para organizar el código en archivos reutilizables.
        npm (Node Package Manager) es el sistema de gestión de paquetes estándar que permite la instalación y gestión
         de dependencias de manera sencilla.</li>
        
        <li>Sistema de Archivos y Operaciones I/O: Proporciona módulos para realizar operaciones de entrada/salida y manipulación 
        de archivos de manera eficiente.</li>
        
        <li>HTTP y Redes:Incluye módulos para facilitar la creación de servidores HTTP y el manejo de solicitudes y respuestas.
        Puede ser utilizado para construir aplicaciones de red y servidores web.</li>
        
        <li>Streams: Node.js tiene un sistema de Streams que permite la manipulación eficiente de flujos de datos, facilitando 
        la transmisión de datos.</li>
    </ul>

    <h3>Aspectos técnicos de Express</h3>
    <ul>
        <li>Middleware: Express.js se destaca por su sistema de middleware que permite la ejecución de funciones intermedias durante 
            el procesamiento de solicitudes y respuestas.Los middleware son fundamentales para realizar tareas como autenticación, 
            manejo de sesiones, y manipulación de datos.</li>
            
        <li>Enrutamiento:Proporciona un sistema de enrutamiento que facilita la definición de rutas y la asignación de controladores a esas rutas.
            Permite manejar diferentes métodos HTTP y parámetros de URL de manera clara.</li>
            
        <li>Plantillas y Vistas:Express.js es compatible con diversos motores de plantillas (como EJS, Pug, Handlebars) para generar 
            vistas dinámicas en el servidor.</li>
            
        <li>Gestión de Sesiones y Cookies:Incluye funciones para gestionar sesiones y cookies, elementos clave en el desarrollo de 
            aplicaciones web.</li>
            
        <li>Manejo de Errores:Express.js facilita el manejo de errores mediante middleware, permitiendo un control centralizado de 
            los errores en la aplicación.</li>
            
        <li>HTTP Helpers:Ofrece métodos y funciones útiles para trabajar con el protocolo HTTP, como el manejo de redirecciones y 
            códigos de estado HTTP.</li>
            
        <li>Extensibilidad:Express.js es altamente extensible, permitiendo la incorporación de middleware de terceros para añadir 
            funcionalidades adicionales.</li>
        
        
    </ul>
</div>
