<div class="seccion">
    <h3>Historia de Node</h3>
    <ul> 
        <li>2009: Ryan Dahl presentó Node.js por primera vez en julio de 2009. Dahl quería crear un entorno que permitiera a los desarrolladores utilizar JavaScript en el lado del servidor y construir aplicaciones web altamente eficientes y escalables.</li>

        <li>Basado en V8: Node.js se basa en el motor V8 de Google Chrome, que es un motor de JavaScript de alto rendimiento.</li>
        
        <li>Manejo asíncrono: La característica distintiva de Node.js es su enfoque asincrónico y no bloqueante, lo que le permite manejar muchas conexiones concurrentes de manera eficiente.</li>
        
        <li>NPM: A medida que Node.js ganó popularidad, npm (Node Package Manager) se convirtió en un componente esencial del ecosistema de desarrollo de Node.js, proporcionando un sistema de gestión de paquetes para compartir y reutilizar código.</li>
    </ul>

    <h3>Historia de Express</h3>
    <ul> 
        <li>2010: Express.js fue creado por TJ Holowaychuk y lanzado en 2010 como un marco web minimalista y flexible para Node.js.

        <li>Inspirado en Sinatra: Express.js se inspiró en el framework web Sinatra de Ruby y se diseñó para ser sinérgico con Node.js, proporcionando una capa sencilla pero poderosa para construir aplicaciones web y APIs.</li>
        
        <li>Middleware: Una de las características clave de Express.js es su sistema de middleware, que permite a los desarrolladores agregar funciones intermedias a la cadena de manejo de solicitudes y respuestas.</li>
        
        <li>Enrutamiento: Express.js facilita el enrutamiento y la definición de rutas para manejar diferentes solicitudes HTTP.</li>
        
        <li>Popularidad: Debido a su simplicidad y flexibilidad, Express.js ganó rápidamente popularidad y se convirtió en el marco de facto para construir aplicaciones web con Node.js</li>
    </ul>
</div>
