<div class="seccion">
    <h3>Definición de Node</h3>
    <p> Node.js es un entorno de ejecución de JavaScript del lado del servidor que permite ejecutar código JavaScript
        en el servidor en lugar de en el navegador del usuario. Se basa en el motor V8 de Google Chrome. 
        Node.js es conocido por su capacidad para manejar conexiones concurrentes con eficiencia y su enfoque basado en eventos
        para el manejo de operaciones de entrada/salida.
    </p>

    <h3>Definición de Express</h3>
    <p> Express.js es un framework web para Node.js que simplifica el proceso de construir aplicaciones web y APIs
        (Interfaces de Programación de Aplicaciones). Es rápido, minimalista y flexible, y se utiliza comúnmente en 
        el desarrollo de aplicaciones web y servicios basados en Node.js.
    </p>
</div>